.add-course-container {
  padding: 2.5rem; /* Padding'i rem ile ayarladık */
  background-color: #fff;
  border-radius: 3.75rem; /* Köşe yuvarlamayı rem ile ayarladık */
  box-shadow: 0 0.125rem 5.625rem rgba(0, 0, 0, 0.3); /* Gölgeyi rem ile ayarladık */
  margin: 2.5rem; /* Margin'i rem ile ayarladık */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: relative;
}

.add-course-container h1 {
  margin-bottom: 1.25rem; /* Margin'i rem ile ayarladık */
}

.form-group {
  margin-bottom: 1.25rem; /* Margin'i rem ile ayarladık */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  display: block;
  margin-bottom: 0.625rem; /* Margin'i rem ile ayarladık */
  font-weight: bold;
  font-size: 1.125rem; /* Font boyutunu rem ile ayarladık */
  text-align: center;
}

.form-group input {
  width: 100%;
  max-width: 70%; /* Maksimum genişlik olarak yüzde kullandık */
  padding: 0.9375rem; /* Padding'i rem ile ayarladık */
  border: 0.0625rem solid #ccc; /* Border'ı rem ile ayarladık */
  border-radius: 1.875rem; /* Köşe yuvarlamayı rem ile ayarladık */
  font-size: 1.125rem; /* Font boyutunu rem ile ayarladık */
  color: #333;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 1.25rem; /* Gap'i rem ile ayarladık */
}

.radio-group label {
  font-size: 1rem; /* Font boyutunu rem ile ayarladık */
}

.button-group {
  display: flex;
  gap: 1.25rem; /* Gap'i rem ile ayarladık */
  justify-content: flex-end;
  width: 100%;
}

.cancel-button,
.submit-button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem; /* Padding'i rem ile ayarladık */
  border-radius: 1.875rem; /* Köşe yuvarlamayı rem ile ayarladık */
  cursor: pointer;
  font-size: 1rem; /* Font boyutunu rem ile ayarladık */
  transition: background-color 0.3s ease;
  width: auto;
}

.cancel-button:hover,
.submit-button:hover {
  background-color: #e68900;
}

.cancel-button:active,
.submit-button:active {
  background-color: #d57800;
}

@media (max-width: 768px) {
  .button-group {
    justify-content: center;
    flex-direction: column;
    gap: 0.625rem; /* Gap'i rem ile ayarladık */
  }
}
