.student-list-container {
  background-color: #fff;
  border-radius: 3.75rem;
  box-shadow: 0 0.125rem 5.625rem rgba(0, 0, 0, 0.3);
  padding: 5%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 62.5rem;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  max-height: 85vh;
}

h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #333;
}

.search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-select {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1.875rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.student-list {
  margin-top: 2rem;
  width: 100%;
}

.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
}

.edit-button,
.delete-button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.625rem;
  border-radius: 1.875rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.625rem;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #e68900;
}

.edit-button img,
.delete-button img {
  width: 1.25rem;
  height: 1.25rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 2rem;
}

.pagination button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #e68900;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .student-list-container {
    width: 95%;
    padding: 4%;
  }

  .student-item {
    padding: 0.625rem;
    font-size: 0.875rem;
    flex-direction: column;
    text-align: center;
  }

  .pagination {
    flex-direction: column;
    gap: 0.3125rem;
  }

  .pagination button {
    padding: 0.625rem;
    font-size: 0.875rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .student-list-container {
    width: 100%;
    padding: 3%;
  }

  .student-item {
    padding: 0.5rem;
    font-size: 0.75rem;
    flex-direction: column;
    text-align: center;
  }

  .pagination button {
    padding: 0.1875rem 0.375rem;
    font-size: 0.625rem;
  }
}

.student-search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 3.75rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 18.75rem;
}

.student-search-box input {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 0.625rem;
  width: 100%;
}
