.student-class-list-container {
  padding: 5%;
  background-color: #fff;
  border-radius: 3.75rem;
  box-shadow: 0 0.125rem 5.625rem rgba(0, 0, 0, 0.3);
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 62.5rem;
  box-sizing: border-box;
  position: relative;
}

.student-class-list-container h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.class-group {
  width: 100%;
  margin-bottom: 2.5rem;
}

.class-group h2 {
  margin-bottom: 1.25rem;
}

.class-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.class-item {
  background-color: #f8f8f8;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.333% - 1.25rem);
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.class-item h3 {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}

.see-topics-button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 3.75rem;
  cursor: pointer;
  font-size: 0.875rem;
}

.see-topics-button:hover {
  background-color: #e68900;
}

.no-title, .topic-title {
  color: #ff9800;
  font-weight: bold;
}

@media (max-width: 768px) {
  .class-item {
      width: calc(50% - 1.25rem);
  }
}

@media (max-width: 480px) {
  .class-item {
      width: calc(100% - 1.25rem);
  }

  .see-topics-button {
      padding: 0.3125rem 0.625rem;
      font-size: 0.75rem;
  }
}
