body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10%;
  max-width: 150px;
}

.logo-image {
  width: 100%;
  height: auto;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 5%;
  background-color: #f0f0f0;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 65%;
  height: auto;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px; /* Daha fazla padding ekleyerek içeriği genişletiyoruz */
  border-radius: 60px; /* Daha yuvarlak kenarlar için */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Gölgeyi biraz daha hafifletiyoruz */
  width: 100%;
  max-width: 500px; /* Daha geniş ekranlarda panel genişliğini artırıyoruz */
  margin: 0 auto; /* Ortalamak için margin ayarı */
}

.login-button {
  width: 100%; /* Butonun panel genişliğine uyumlu olması için */
  padding: 15px 20px; /* Buton içeriğini artırmak için padding ayarı */
  margin: 10px 0;
  border: 2px solid #ff9800;
  border-radius: 45px;
  background-color: transparent;
  color: #3b3b3b;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Buton içeriğini ortalamak için ayarlandı */
  transition: background-color 0.3s, border-color 0.3s;
}

.login-button img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.login-button:hover {
  background-color: rgba(255, 152, 0, 0.1);
  border-color: #e68900;
}

/* Mobil cihazlar için (iPhone, Android) */
@media (max-width: 600px) {
  .logo-container {
    top: 2%;
    left: 2%;
    width: 20%;
    max-width: 100px;
  }

  .login-panel {
    padding: 30px;
    max-width: 90%;
  }

  .login-button {
    font-size: 1.2rem;
    padding: 10px;
  }

  .login-button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}

/* Tabletler için (iPad, Android tabletler) */
@media (min-width: 601px) and (max-width: 900px) {
  .logo-container {
    width: 15%;
    max-width: 120px;
  }

  .login-panel {
    padding: 40px;
    max-width: 85%;
  }

  .login-button {
    font-size: 1.4rem;
    padding: 12px;
  }

  .login-button img {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
  }
}

/* Laptop ve küçük monitörler için (13 inch - 21 inch) */
@media (min-width: 901px) and (max-width: 1440px) {
  .logo-container {
    width: 10%;
    max-width: 150px;
  }

  .login-panel {
    padding: 40px;
    max-width: 500px; /* Sabit genişlik */
  }

  .login-button {
    font-size: 1.6rem;
    padding: 14px;
  }

  .login-button img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}

/* Büyük monitörler ve akıllı tahtalar için (24 inch ve üzeri) */
@media (min-width: 1441px) {
  .logo-container {
    width: 8%;
    max-width: 150px;
  }

  .login-panel {
    padding: 50px;
    max-width: 600px; /* Daha geniş ekranlarda daha büyük panel */
  }

  .login-button {
    font-size: 1.8rem;
    padding: 16px;
  }

  .login-button img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}
