body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo-image {
  width: 160px;
  height: auto;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 0 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 65%;
  height: auto;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
  width: 400px;
  min-height: 500px;
  margin-left: 0;
  margin-right: 100px;
}

.login-panel h2 {
  margin-bottom: 20px;
  color: #3b3b3b;
  font-size: 36px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  width: 300px;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #ff9800;
  border-radius: 45px;
  background-color: transparent;
  color: #3b3b3b;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s, border-color 0.3s;
}

.login-button img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.login-button:hover {
  background-color: rgba(255, 152, 0, 0.1);
  border-color: #e68900;
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
    padding: 20px;
  }

  .image-container {
    margin-bottom: 20px;
  }

  .login-panel {
    margin-left: 0;
    width: 100%;
    max-width: 400px;
  }

  .login-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-panel {
    padding: 20px;
  }

  .login-button {
    padding: 10px;
    font-size: 16px;
  }

  .login-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .login-panel h2 {
    font-size: 20px;
  }

  .error-message {
    color: red;
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 2px;
  }
  
  .error-icon {
    width: 2px;
    height: 2px;
    margin-right: 5px;
  }

  .input-with-icon .PhoneInputInput {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
  }
}
