.clock-component {
    background-color: #fff;
    border-radius: 60px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px; /* Genişliği azaltıldı */
    position: absolute; /* Absolute konumlandırma ile sağ üst köşeye taşındı */
    top: 20px; /* Üstten boşluk */
    right: 20px; /* Sağdan boşluk */
    z-index: 10; /* Diğer elemanların üzerine çıkması için z-index eklendi */
}

.date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; /* Margin azaltıldı */
}

.icon {
    width: 20px; /* İkon boyutu ayarlandı */
    height: 20px;
    margin-right: 6px; /* İkonlar arası boşluk */
}

.date-time span {
    font-size: 14px; /* Yazı boyutu küçültüldü */
    color: #4F4C4C;
}

@media (max-width: 768px) {
    .clock-component {
        width: 200px; /* Küçük ekranlar için genişlik ayarlandı */
        padding: 10px 15px;
        top: 10px;
        right: 10px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .date-time span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .clock-component {
        width: 180px;
        padding: 8px 12px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .date-time span {
        font-size: 10px;
    }
}
