.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; /* Padding'i rem ile ayarladık */
  background-color: #fff;
  box-shadow: 0 2px 5rem rgba(0, 0, 0, 0.3); /* Gölgeyi rem ile ayarladık */
  border-radius: 3.75rem; /* Köşe yuvarlamayı rem ile ayarladık */
  margin: 1.25rem 2.5rem; /* Marjin değerlerini rem olarak belirledik */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 2.5rem; /* İkon genişliğini rem ile ayarladık */
  height: 2.5rem; /* İkon yüksekliğini rem ile ayarladık */
  margin-right: 0.625rem; /* Marjin sağa rem ile ayarlandı */
  border-radius: 50%;
}

.user-greeting {
  font-size: 1.125rem; /* Font boyutunu rem ile ayarladık */
  font-weight: bold;
  color: #4F4C4C;
}

.date-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Flex kutusunun içerikleri sarmasını sağlar */
}

.icon {
  width: 1.25rem; /* İkon genişliği rem ile ayarlandı */
  height: 1.25rem; /* İkon yüksekliği rem ile ayarlandı */
  margin-right: 0.3125rem; /* Marjin sağa rem ile ayarlandı */
}

.date-time span {
  font-size: 1rem; /* Font boyutunu rem ile ayarladık */
  color: #666;
  margin-right: 0.3125rem; /* Marjin sağa rem ile ayarlandı */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem; /* Padding'i rem ile ayarladık */
      margin: 1.25rem; /* Marjin değerlerini rem olarak belirledik */
  }

  .user-info {
      margin-bottom: 0.625rem; /* Marjin alt rem ile ayarlandı */
  }

  .user-greeting {
      font-size: 1rem; /* Font boyutunu rem ile küçülttük */
  }

  .date-time span {
      font-size: 0.875rem; /* Font boyutunu rem ile küçülttük */
  }
}

@media (max-width: 480px) {
  .date-time {
    justify-content: flex-start; /* Daha küçük ekranlarda hizalamayı sola çektik */
  }

  .user-icon {
      width: 2.1875rem; /* İkon genişliğini rem ile ayarladık */
      height: 2.1875rem; /* İkon yüksekliğini rem ile ayarladık */
  }

  .icon {
      width: 1.125rem; /* İkon genişliğini rem ile ayarladık */
      height: 1.125rem; /* İkon yüksekliğini rem ile ayarladık */
  }

  .user-greeting {
      font-size: 0.875rem; /* Font boyutunu rem ile küçülttük */
  }

  .date-time span {
      font-size: 0.75rem; /* Font boyutunu rem ile küçülttük */
  }
}
