/* Sidebar için genel stil */
.sidebar {
  width: 20%; /* Genişliği yüzdelik olarak ayarladık */
  background-color: #f8f8f8;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem; /* Piksel yerine rem kullanarak esneklik sağladık */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
}

.logo {
  margin: 1.25rem 0 1.25rem 2.5rem; /* Margin değerlerini rem olarak ayarladık */
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.logo img {
  width: 100%; /* Genişliği yüzde ile belirledik */
  max-width: 10rem; /* Maksimum genişliği rem ile ayarladık */
  height: auto;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-nav li {
  width: 100%;
}

.sidebar-nav li a,
.logout-button {
  display: flex;
  align-items: center;
  padding: 1rem; /* Padding'i rem ile ayarladık */
  color: #3b3b3b;
  text-decoration: none;
  font-size: 1.125rem; /* Font boyutunu rem ile ayarladık */
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
  background-color: #ff9800;
  color: #fff;
}

.sidebar-nav li a i,
.logout-button i {
  margin-right: 0.625rem; /* Marjin değerini rem olarak ayarladık */
}

/* Sidebar iconları için stil */
.sidebar-icon {
  width: 1.25rem; /* İkon genişliği rem olarak ayarlandı */
  height: 1.25rem; /* İkon yüksekliği rem olarak ayarlandı */
  margin-right: 0.625rem; /* İkon ve metin arasındaki boşluk rem olarak ayarlandı */
  vertical-align: middle; /* İkonun metinle ortalanması */
}

.sidebar-nav li:last-child {
  margin-top: auto;
  border-top: 0.0625rem solid #ff9800; /* Piksel yerine rem kullanıldı */
}

.sidebar-nav li:nth-child(2) {
  border-bottom: 0.0625rem solid #ff9800; /* Piksel yerine rem kullanıldı */
}

.content {
  margin-left: 20%; /* Margin sol kısmını yüzde olarak ayarladık */
  padding: 2rem; /* Padding'i rem ile ayarladık */
  transition: margin-left 0.3s;
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #7e7d7b;
  color: #fff;
}

/* Responsive düzenleme */
@media (max-width: 768px) {
  .sidebar {
    width: 15%; /* Orta ekranlar için genişliği yüzdelik ayarladık */
  }

  .content {
    margin-left: 15%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 10%; /* Küçük ekranlarda sidebar genişliği yüzde olarak ayarlandı */
  }

  .content {
    margin-left: 10%;
  }

  .sidebar-nav li a,
  .logout-button {
    justify-content: center; /* İkonların ortalanması */
  }

  .sidebar-nav li a span,
  .logout-button span {
    display: none; /* Metinleri gizle */
  }

  .sidebar-icon {
    margin-right: 0; /* İkonları ortalamak için marjin sıfırlama */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 25%; /* Çok küçük ekranlar için sidebar genişliği */
  }

  .content {
    margin-left: 25%;
  }

  .sidebar-nav li a,
  .logout-button {
    padding: 0.625rem; /* Padding'i küçülttük */
    font-size: 1rem; /* Font boyutunu küçülttük */
  }

  .logo img {
    max-width: 7.5rem; /* Logo genişliğini küçülttük */
  }
}
